<!--style="max-width: 40rem;"-->
<div class="card text-white bg-dark mb-3">
    <!--Categoria-->
    <div class="card-header">{{childProduct[3]}}</div>
    <div class="card-body">
        <!--Nombre - Qprecio-->
        <h5 class="card-title">{{childProduct[1]}} - Q{{childProduct[2]}}</h5>
        <!--Imagen-->
        <img [src]="'http://localhost:3000/'+childProduct[6]" class="card-img-top" alt="Imagen producto">
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-info">Añadir al carrito</button>
        &nbsp;
        <button type="button" class="btn btn-light">Detalle</button>
    </div>
</div>