<!--style="max-width: 40rem;"-->
<div class="card text-white bg-dark mb-3">
    <!--Categoria-->
    <div class="card-header">{{childProduct.CATEGORIA}}</div>
    <div class="card-body">
        <!--Nombre - Qprecio-->
        <h5 class="card-title">{{childProduct.NOMBRE_PRODUCTO}} - Q{{childProduct.PRECIO_PRODUCTO}}</h5>
        <!--Imagen-->
        <img [src]="'http://localhost:3000/'+childProduct.IMAGEN" class="card-img-top" alt="Imagen producto">
    </div>
    <div class="card-footer">
        <button type="button" [class]="clase" (click)="addToCart()">{{texto}}</button>
        &nbsp;
        <button type="button" class="btn btn-light" (click)="goToProduct()">Detalle</button>
    </div>
</div>